@CHARSET "UTF-8";

body {
	background-image: url("../img/SOTATSU.jpg");
	-webkit-background-size: cover;
    -background-size: cover;
    -background-size: cover;
    background-size: cover;
}

table#goban {
    background-image: url("../img/Wood_floor.jpg");
    border-collapse: collapse;
    height: 500px;
/*     margin: 2em auto; */
    -moz-box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.5);
    table-layout: fixed;
    text-shadow: 0 1px hsla(0, 50%, 100%, 0.5);
    -webkit-box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.5);
    width: 500px;
}

table#goban td {
    background-position: 50% 50%;
    background-size: 50px 50px;
    height: 8%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 10%;
}

#goban td.intersection {
	background-image: url("../img/intersection.png");
}

#goban td.upper-right {
	background-image: url("../img/cornet-upper-right.png");
}

#goban td.upper-left {
	background-image: url("../img/corner-upper-left.png");
}

#goban td.bottom-right {
	background-image: url("../img/corner-bottom-right.png");
}

#goban td.bottom-left {
	background-image: url("../img/corner-bottom-left.png");
}

#goban td.margin-right {
	background-image: url("../img/margin-right.png");
}

#goban td.margin-left {
	background-image: url("../img/margin-left.png");
}

#goban td.margin-up {
	background-image: url("../img/margin-up.png");
}

#goban td.margin-down {
	background-image: url("../img/margin-down.png");
}

#goban td.coord {
	font-weight: bold;
	text-align: center;
}

.stone {
	border-radius: 50%;
	display: inline-block;
	width: 100%;
	height: 100%;
}

div#stone_white {
	background: white;
}

div#stone_black {
	background: black;
}

div#game {
  position:absolute;
  left:35%;
  top: 0;
  width: auto;
  height:auto;
}

div#info {
  width: 23%;
  position: relative;
  left: 10%;
}

div#controll {
  width: 23%;
  position: relative;
  left: 10%;
}

div#last_move {
  width: 23%;
  position: relative;
  left: 10%;
}

div.box {
  float: left;
  margin: 30px;
  background: #fff;
  width: 16%;
  height: 30%;
  text-align: center;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
}
