.goban {
	background-image: url("../img/Wood_floor.jpg");
    border-collapse: collapse;
    height: auto;
    -moz-box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.5);
    table-layout: fixed;
    text-shadow: 0 1px hsla(0, 50%, 100%, 0.5);
    -webkit-box-shadow: 0 0 1em hsla(0, 0%, 0%, 0.5);
}

.cross {
	margin: -2px;
	width: 50px;
	height: 50px;
}

.line {
	display: flex;
}

.hr-line {
	display: block;
	height: 0px;
	border: 0;
	border-top: 2px solid #000;
	margin: 1em 0;
	padding: 0;
	width: 100%;
	position: relative;
	top: -82.3%;
}

.vr-line {
	border-left: thin solid #000000;
	border-width: 2px;
	height: 100%;
	width: 0px;
	position: relative;
	left: 24px;
}

.hr-line-center {
	display: block;
	height: 0px;
	border: 0;
	border-top: 2px solid #000;
	margin: 1em 0;
	padding: 0;
	width: 100%;
	position: relative;
	top: -32.3%;
}

.hr-line-left-margin {
	display: block;
	height: 0px;
	border: 0;
	border-top: 2px solid #000;
	margin: 1em 0;
	padding: 0;
	width: 50%;
	position: relative;
	top: -82.3%;
	float: right;
}

.vr-line-margin {
	border-left: thin solid #000000;
	border-width: 2px;
	height: 100%;
	width: 0px;
	position: relative;
	left: 24px;
	top: 0px;
}

.hr-line-right-margin {
	display: block;
	height: 0px;
	border: 0;
	border-top: 2px solid #000;
	margin: 1em 0;
	padding: 0;
	width: 50%;
	position: relative;
	top: -82.3%;
}

.margin-top-left-cross {
	margin: -2px;
	background-color: red;
	width: 50px;
	height: 50px;
}

.hr-line-top-left-margin {
	display: block;
	height: 0px;
	border: 0;
	border-top: 2px solid #000;
	margin: 1em 0;
	padding: 0;
	width: 50%;
	position: relative;
	top: -32.3%%;
	float: right;
}

.vr-line-top-margin {
	border-left: thin solid #000000;
	border-width: 2px;
	height: 50%;
	width: 0px;
	position: relative;
	left: 24px;
	top: 25px;
}

.hr-line-top-right-margin {
	display: block;
	height: 0px;
	border: 0;
	border-top: 2px solid #000;
	margin: 1em 0;
	padding: 0;
	width: 50%;
	position: relative;
	top: -32.3%;
}

.vr-line-bottom-margin {
	border-left: thin solid #000000;
	border-width: 2px;
	height: 50%;
	width: 0px;
	position: relative;
	left: 24px;
	top: 0px;
}

.hr-line-bottom-left-margin {
	display: block;
	height: 0px;
	border: 0;
	border-top: 2px solid #000;
	margin: 1em 0;
	padding: 0;
	width: 52%;
	position: relative;
	top: -32.3%;
	float: right;
}

.hr-line-bottom-right-margin {
	display: block;
	height: 0px;
	border: 0;
	border-top: 2px solid #000;
	margin: 1em 0;
	padding: 0;
	width: 51%;
	position: relative;
	top: -32.3%;
}
